<div class="container">
    <div class="row">
        <div class="col">
            <h1>Consulta de cobertura</h1>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label for="region">Region:</label>
            <select class="form-control" name="regiones" (change)="llenarComunas($event.target.value)">
                <option hidden [value]=""  selected>Seleccione una region</option>
                <option *ngFor ="let region of regiones" [value]="region.code">{{region.name}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label for="comuna">Comuna:</label>
            <select class="form-control" name="comunas" [disabled]="!regionEstablecida" (change)="setComuna($event.target.value)">
                <option hidden [value]="" [selected]="!regionEstablecida">
                    <span *ngIf="!regionEstablecida; else countyPlaceholder">Primero seleccione una region</span>
                </option>
                <ng-template #countyPlaceholder>Seleccione una comuna</ng-template>
                <option *ngFor="let comuna of comunas" [value]="comuna.code">{{comuna.name}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" (click)="consultar()">Consultar</button>
        </div>
    </div>
</div>
