<div class="container">
    <div class="row">
        <div class="col">
            <h1>Consulta de cobertura</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="region">Region</label>
            <select name="regiones">
                <option *ngFor="let region of regiones" [value]="region.code">{{region.name}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="comuna">Comuna</label>
            <select name="comunas">
                <option *ngFor="let comuna of comunas" [value]="comuna.code">{{comuna.name}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="btn">Consultar</div>
        </div>
    </div>
</div>
